build/
.gradle/
gradle-app.setting
.gradletasknamecache
local.properties
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.aar
*.dex

# Keystore 不应推 GitHub - 本项目例外 (演示用)
# 上线时务必加入 ignore
keystore/

# Local SDK path
sdk.dir